@charset "UTF-8";

.bubble {
	@include position(absolute, 1, null, null, null, null);
	filter: drop-shadow(0 0.125rem 0.25rem rgba(165, 163, 174, .15));
	display: none;
	--bubble-bg: var(--c-white);
	--gap: 0.571rem;
	width: max-content;
	border: {
		radius: var(--rd-small);
	}
	background: {
		color: var(--bubble-bg);
	}
	color: var(--bubble-text, var(--c-gray-3));
	&:before {
		content: "";
		@include position(absolute);
	}
	&[data-direction="top"] {
		bottom: calc(100% + var(--gap));
		left: 50%;
		transform: translateX(-50%);
		&:before {
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			border: {
				top: 5px solid var(--bubble-bg);
				left: 5px solid transparent;
				right: 5px solid transparent;
			}
		}
	}
	&[data-direction="left"] {
		right: calc(100% + var(--gap));
		top: 50%;
		transform: translateY(-50%);
		&:before {
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			border: {
				top: 5px solid transparent;
				left: 5px solid var(--bubble-bg);
				bottom: 5px solid transparent;
			}
		}
	}
	&[data-direction="right"] {
		left: calc(100% + var(--gap));
		top: 50%;
		transform: translateY(-50%);
		&:before {
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			border: {
				top: 5px solid transparent;
				right: 5px solid var(--bubble-bg);
				bottom: 5px solid transparent;
			}
		}
	}
	&[data-direction="bottom"] {
		top: calc(100% + var(--gap));
		left: 50%;
		transform: translateX(-50%);
		&:before {
			left: 50%;
			bottom: 100%;
			transform: translateX(-50%);
			border: {
				bottom: 5px solid var(--bubble-bg);
				left: 5px solid transparent;
				right: 5px solid transparent;
			}
		}
	}
	&.sm {
		padding: 0.429rem;
		font: {
			size: var(--fs-xxsmall);
		}
	}
	&.md {
		padding: 0.571rem;
		font: {
			size: var(--fs-xsmall);
		}
	}
	&.md {
		padding: 0.714rem;
		font: {
			size: var(--fs-small);
		}
	}
}

// * pagination
.pagination {
	@include flex(flex, null, null, center);
	gap: 0.429rem;
	&.default {
		justify-content: center;
	}
	&.database {
		padding: 1.143rem;
		justify-content: flex-end;
	}
	.btn-pagination-prev,
	.btn-pagination-next,
	.btn-pagination {
		@include border(all, 1px, solid, transparent, var(--rd-small));
		@include flex(flex, null, null, center, null, null, center);
		flex: none;
		height: 30px;
		font: {
			size: var(--fs-xsmall);
		}
	}
	.btn-pagination-prev,
	.btn-pagination-next {
		color: var(--c-gray-3);
		padding: 0 0.571rem;
		border: {
			color: var(--border-default);
		}
		&:before,
		&:after {
			flex: none;
			width: 14px;
			height: 14px;
			background: {
				position: 50% 50%;
				repeat: no-repeat;
				size: 14px auto;
			}
			filter: brightness(0) saturate(100%) invert(51%) sepia(6%) saturate(340%) hue-rotate(181deg) brightness(98%) contrast(95%);
		}
	}
	.btn-pagination-prev {
		&:before {
			content: "";
			@include bg-image-svg(icons, ico-chevron-left);
			margin-right: 4px;
		}
	}
	.btn-pagination-next {
		&:after {
			content: "";
			@include bg-image-svg(icons, ico-chevron-right);
			margin-left: 4px;
		}
	}
	.btn-pagination {
		width: 30px;
		&:not(.selected) {
			color: var(--c-gray-3);
			background: {
				color: var(--c-white);
			}
			border: {
				color: var(--border-default);
			}
		}
		&.selected {
			color: var(--c-white);
			background: {
				color: var(--primary-blue);
			}
		}
	}
}

// * list count
.list-total-count {
	color: var(--c-gray-4);
	margin-bottom: 0.714rem;
	font: {
		size: var(--total-count-text-size);
	}
	strong {
		color: var(--primary-blue);
	}
}
.database-control {
	@include flex(flex, null, null, center, null, null, flex-end);
	gap: 0.429rem;
}
.database-nolist {
	@include flex(flex, column, null, center, null, null, center);
	padding: 2.857rem 0;
	gap: 0.714rem;
	.icon {
		filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(307%) hue-rotate(157deg) brightness(95%) contrast(99%);
	}
	.nolist-msg {
		text-align: center;
		line-height: var(--lh-150);
		font: {
			size: var(--fs-small);
		}
	}
}

.list-dropdown {
	&:not([open]) {
		summary {
			&:after {
				@include bg-image-svg(icons, ico-chevron-down);
			}
		}
	}
	&[open] {
		summary {
			&:after {
				@include bg-image-svg(icons, ico-chevron-up);
			}
			margin-bottom: 1rem;
		}
	}
	summary {
		@include position(relative);
		&:after {
			content: "";
			@include position(absolute, 1, 50%, 0, null, null, null, -50%);
			width: 16px;
			height: 16px;
			background: {
				position: 50% 50%;
				repeat: no-repeat;
				size: 16px auto;
			}
		}
	}
	+ .list-dropdown {
		margin-top: var(--list-dropdown-margin);
	}
}

@media (hover: hover) {
	.pagination {
		.btn-pagination-prev,
		.btn-pagination-next,
		.btn-pagination:not(.selected) {
			&:hover {
				border: {
					color: var(--c-gray-6);
				}
			}
		}
	}
}
@media (min-width: 769px) {
	.list-total-count {
		--total-count-text-size: var(--fs-base);
	}
	.list-dropdown {
		--list-dropdown-margin: 2.857rem;
	}
}
@media (max-width: 768px) {
	.list-total-count {
		--total-count-text-size: var(--fs-small);
	}
	.pagination {
		&.database {
			justify-content: center;
		}
	}
	.list-dropdown {
		--list-dropdown-margin: 1.429rem;
	}
}
