@charset "UTF-8";

.card {
	@include box-shadow(0, 0.125rem, 0.25rem, rgba(165, 163, 174, .15));
	background: {
		color: var(--c-white);
	}
	border: {
		radius: var(--rd-medium);
	}
	&.default {
		padding: 1.429rem 1.143rem;
	}
	&.database {
		overflow: hidden;
		.card-header {
			padding: 1.143rem 1.143rem 1rem;
		}
		.database-control {
			padding: 1.143rem 1.143rem 1rem;
		}
		.dl-home-summary {
			flex: 0 0 100%;
		}
	}
	&.search-form-area {
		.row {
			--gap-row: 0.714rem;
		}
		.search-form-label {
			color: var(--c-gray-1);
			font: {
				size: var(--fs-small);
				weight: var(--fw-medium);
			}
		}
	}
}
.card-header {
	@include flex(flex, null, null, center);
	.title {
		p {
			color: var(--c-gray-3);
			font: {
				size: var(--card-sub-title-size);
			}
		}
	}
	.header-title {
		font: {
			size: var(--card-main-title-size);
			weight: var(--fw-semi);
		}
		+ p {
			margin-top: 0.286rem;
		}
	}
	.sub-character {
		color: var(--c-gray-4);
		margin-left: auto;
		font: {
			size: var(--card-sub-character-size);
		}
	}
}
.dl-home-summary {
	@include flex(flex, column);
	row-gap: 0.714rem;
	dt {
		span {
			display: block;
			line-height: var(--lh-150);
			&:nth-child(1) {
				font: {
					size: var(--dt-title-size);
					weight: var(--fw-semi);
				}
			}
			&:nth-child(2) {
				color: var(--c-gray-4);
				font: {
					size: var(--dt-title-size2);
				}
			}
		}
	}
	dd {
		font: {
			size: var(--dd-text-size);
			weight: var(--fw-bold);
		}
	}
	&[data-direction="left"] {
		dt {
			span {
				&:nth-child(2) {
					@include text-ellipsis;
				}
			}
		}
		dd {
			@include text-ellipsis;
		}
	}
	&[data-direction="right"] {
		dd {
			text-align: right;
		}
	}
}
.page-item {
	.page-item-title {
		margin-bottom: 1rem;
	}
	+ .page-item {
		margin-top: 2.857rem;
	}
}
.page-item-title {
	@include flex(flex, null, null, center);
	strong {
		font: {
			size: var(--fs-large);
			weight: var(--fw-semi);
		}
	}
}
.map-area {
	@include position(relative);
	height: var(--google-map-height);
	.google-map-iframe {
		@include position(absolute, 1, 0, 0, 0, 0);
	}
	.map-pin-item {
		@include position(absolute);
		z-index: 10;
		> .bubble {
			display: block;
		}
	}
	.marker {
		@include position(relative);
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 50% 50% 50% 0;
		// border: 4px solid var(--primary-blue);
		background: {
			color: var(--primary-blue);
		}
		transform: rotate(-45deg);
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-left: -4px;
			margin-top: -4px;
			background-color: var(--c-white);
		}
	}
}
.trip-warning {
	@include flex(inline-flex, null, null, center);
	--icon-size: 14px;
	&:before {
		@include bg-image-svg(icons, ico-ban, 50% 50%, no-repeat, null, auto var(--icon-size));
		content: "";
		display: inline-block;
		flex: none;
		width: var(--icon-size);
		height: var(--icon-size);
		margin-right: 0.286rem;
		vertical-align: middle;
	}
	&.type1 {
		color: var(--primary-blue);
		&:before {
			filter: brightness(0) saturate(100%) invert(16%) sepia(58%) saturate(6019%) hue-rotate(235deg) brightness(85%) contrast(101%);
		}
	}
	&.type2 {
		color: #FFC72B;
		&:before {
			filter: brightness(0) saturate(100%) invert(91%) sepia(94%) saturate(4535%) hue-rotate(328deg) brightness(98%) contrast(101%);
		}
	}
	&.type3 {
		color: #FF6F00;
		&:before {
			filter: brightness(0) saturate(100%) invert(43%) sepia(64%) saturate(2157%) hue-rotate(1deg) brightness(103%) contrast(104%);
		}
	}
	&.type4 {
		color: #EB2A14;
		&:before {
			filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(2310%) hue-rotate(352deg) brightness(94%) contrast(99%);
		}
	}
	&.type5 {
		color: #774BAA;
		&:before {
			filter: brightness(0) saturate(100%) invert(35%) sepia(14%) saturate(2361%) hue-rotate(225deg) brightness(97%) contrast(96%);
		}
	}
	&.type6 {
		color: var(--c-black);
		&:before {
			filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(7486%) hue-rotate(350deg) brightness(94%) contrast(106%);
		}
	}
}
@media (min-width: 769px) {
	.card {
		&.search-form-area {
			.row {
				[class^="col"] {
					@include flex(flex, null, null, center);
				}
			}
			[class^="col"] {
				> :not(.search-form-label) {
					flex: 1 1 auto;
				}
			}
			.search-form-label {
				flex: 0 0 100px;
				+ * {
					margin-left: 0.5rem;
				}
			}
			.search-all {
				> .select-box {
					flex: 0 0 100px;
				}
			}
			.search-group {
				padding-top: 0.5rem;
			}
		}
	}
	.card-header {
		--card-main-title-size: var(--fs-medium);
		--card-sub-title-size: var(--fs-small);
		--card-sub-character-size: var(--fs-xsmall);
	}
	.dl-home-summary {
		--dt-title-size: var(--fs-medium);
		--dt-title-size2: var(--fs-small);
		--dd-text-size: var(--fs-large);
	}
	.map-area {
		--google-map-height: 400px;
	}
}
@media (max-width: 768px) {
	.card {
		&.search-form-area {
			.search-form-label {
				display: block;
				margin-bottom: 0.5rem;
				padding-left: 0.375rem;
			}
			.search-group {
				padding-top: 0.5rem;
			}
			&.list-reservation {
				.row {
					.col-6 {
						&:nth-of-type(n+5) {
							display: none;
						}
					}
				}
			}
			&.list-staff {
				.row {
					.col-6 {
						&:nth-of-type(n+3):nth-of-type(-n+5) {
							display: none;
						}
					}
				}
			}
		}
	}
	.card-header {
		--card-main-title-size: var(--fs-base);
		--card-sub-title-size: var(--fs-xsmall);
		--card-sub-character-size: var(--fs-xxsmall);
	}
	.dl-home-summary {
		--dt-title-size: var(--fs-base);
		--dt-title-size2: var(--fs-xsmall);
		--dd-text-size: var(--fs-medium);
	}
	.map-area {
		--google-map-height: 200px;
	}
}
