@charset "UTF-8";

// ! form layout
.form-type1 {
	.form-item {
		&-title {
			@include flex(flex, null, null, center);
			margin-bottom: 0.714rem;
			label {
				font: {
					weight: var(--fw-medium);
				}
			}
		}
		+ .form-item {
			margin-top: 1.286rem;
		}
	}
	.form-header {
		margin-bottom: 1.286rem;
		.title {
			color: var(--c-black);
			font: {
				size: var(--fs-medium);
				weight: var(--fw-medium);
			}
			+ .text {
				margin-top: 0.143rem;
			}
		}
		.text {
			color: var(--c-gray-2);
			font: {
				size: var(--fs-small);
			}
		}
	}
}
// * form group
.form-group {
	@include flex(flex, null, null, center);
	@include position(relative);
	&.name {
		> .input,
		> app-input-text {
			&:nth-child(1) {
				flex: 0 0 35%;
			}
			&:nth-child(2) {
				flex: 1 1 auto;
				margin-left: 0.571rem;
			}
		}
	}
	&.both {
		gap: 0 0.286rem;
		> .input,
		> .select-box {
			flex: 1 1;
		}
		.dash {
			color: var(--c-gray-4);
			flex: none;
		}
	}
	&.month {
		gap: 0 0.286rem;
		flex: 1 1;
		.form-group {
			flex: 1 1;
			gap: 0 0.286rem;
			.select-box {
				&:first-child {
					flex: 2 1 auto;
				}
				&:nth-child(2) {
					flex: 1 1 auto;
				}
			}
		}
	}
	&.search-all,
	&.search-month {
		gap: 0 0.429rem;
		.both {
			flex: 1 1 auto;
		}
		.btn {
			flex: none;
			--btn-padding: 0 1.429rem;
		}
	}
}

// * input, input-file, select, textarea 공통
.input,
.input-file,
.select-box,
.textarea {
	@include position(relative);
	&.inline {
		display: inline-block;
	}
}
// ! input
.input {
	&:has(.btn-input-clear) {
		input {
			padding-right: calc(var(--input-padding-right) + 18px);
		}
	}
	&:has(.btn-input-cal) {
		input {
			padding-right: calc(var(--input-padding-right) + 18px);
		}
	}
	.btn-input-clear {
		@include position(absolute, 1, null, var(--btn-input-clear-position), null, null);
		@include bg-image-set(common, btn-input-clear, 50% 50%, no-repeat);
		width: 18px;
		height: 18px;
		text-indent: -9999em;
	}
	.btn-input-cal {
		@include position(absolute, 1, null, var(--btn-input-cal-position), null, null);
		@include bg-image-svg(icons, ico-calendar-month, 50% 50%, no-repeat, null, auto 18px);
		width: 18px;
		height: 18px;
		text-indent: -9999em;
		filter: brightness(0) saturate(100%) invert(53%) sepia(9%) saturate(227%) hue-rotate(174deg) brightness(95%) contrast(92%);
	}
	input {
		@include text-ellipsis;
		@include border(all, 1px, solid, transparent);
		display: block;
		width: 100%;
		background: {
			color: var(--c-white);
		}
		height: var(--input-height);
		padding: {
			right: var(--input-padding-right);
			left: var(--input-padding-left);
		}
		font: {
			size: var(--input-font-size);
			weight: var(--input-font-weight);
		}
		border: {
			radius: var(--input-radius);
		}
	}
	&.sm {
		input {
			--input-height: 30px;
			--input-font-size: var(--fs-xsmall);
			--input-padding-left: 0.571rem;
			--input-padding-right: 0.571rem;
			--input-radius: var(--rd-small);
		}
		.btn-input-clear {
			--btn-input-clear-position: 0.571rem;
			top: 6px;
		}
		.btn-input-cal {
			--btn-input-cal-position: 0.571rem;
			top: 6px;
		}
	}
	&.md {
		input {
			--input-height: 36px;
			--input-font-size: var(--fs-base);
			--input-padding-left: 0.643rem;
			--input-padding-right: 0.643rem;
			--input-radius: var(--rd-small);
		}
		.btn-input-clear {
			--btn-input-clear-position: 0.643rem;
			top: 9px;
		}
		.btn-input-cal {
			--btn-input-cal-position: 0.643rem;
			top: 9px;
		}
	}
	&.lg {
		input {
			--input-height: 42px;
			--input-font-size: var(--fs-medium);
			--input-padding-left: 0.857rem;
			--input-padding-right: 0.857rem;
			--input-radius: var(--rd-medium);
		}
		.btn-input-clear {
			--btn-input-clear-position: 0.857rem;
			top: 12px;
		}
		.btn-input-cal {
			--btn-input-cal-position: 0.857rem;
			top: 12px;
		}
	}
	&.xl {
		input {
			--input-height: 50px;
			--input-font-size: var(--fs-medium);
			--input-padding-left: 1.143rem;
			--input-padding-right: 1.143rem;
			--input-radius: var(--rd-medium);
		}
		.btn-input-clear {
			--btn-input-clear-position: 1.143rem;
			top: 16px;
		}
		.btn-input-cal {
			--btn-input-cal-position: 1.143rem;
			top: 16px;
		}
	}
	&.line {
		input {
			border: {
				color: var(--border-default);
			}
			&:not(:disabled):not(:read-only) {
				&:focus {
					border: {
						color: var(--border-focus);
					}
				}
			}
		}
	}
	&.valid-error {
		input {
			border: {
				color: var(--border-valid);
			}
		}
	}
}
// ! input-file
.input-file {
	&:not(.inline) {
		@include flex(flex, null, null, center);
	}
	.control-input {
		@include position(absolute, -1, 0, null, null, 0);
		width: 0;
		height: 0;
		opacity: 0;
		&:not(:disabled) {
			+ .file-name {
				background: {
					color: var(--c-white);
				}
			}
			~ .control-text {
				cursor: pointer;
			}
		}
		&:disabled {
			+ .file-name {
				cursor: not-allowed;
				color: var(--c-gray-4);
				background: {
					color: var(--c-disabled);
				}
			}
			~ .control-text {
				cursor: not-allowed;
			}
		}
	}
	.file-name {
		@include flex(inline-flex, null, null, center);
		@include border(all, 1px, solid, transparent);
		@include position(relative);
		flex: 1 1 auto;
		padding: 0 20px;
		min-width: 0;
		span {
			@include text-ellipsis;
			display: block;
		}
	}
	.control-text {
		@include flex(inline-flex, null, null, center, null, null, center);
		flex: none;
		width: 104px;
		color: var(--c-white);
		margin-left: 8px;
		background: {
			color: var(--secondary-blue);
		}
	}
	.btn-input-clear {
		right: 128px;
	}
	&.sm {
		.file-name,
		.control-text {
			height: 44px;
			padding: {
				right: 16px;
				left: 16px;
			}
			border: {
				radius: var(--rd-medium);
			}
		}
		.file-name {
			font: {
				size: var(--fs-medium);
				weight: var(--fw-medium);
			}
		}
		.control-text {
			font: {
				size: var(--fs-medium);
				weight: var(--fw-bold);
			}
		}
		.btn-input-clear {
			top: 13px;
		}
	}
	&.md {
		.file-name,
		.control-text {
			height: 50px;
			padding: {
				right: 16px;
				left: 16px;
			}
			border: {
				radius: var(--rd-medium);
			}
		}
		.file-name {
			font: {
				size: var(--fs-medium);
				weight: var(--fw-medium);
			}
		}
		.control-text {
			font: {
				size: var(--fs-medium);
				weight: var(--fw-bold);
			}
		}
		.btn-input-clear {
			top: 16px;
		}
	}
	&.line {
		.file-name {
			border: {
				color: var(--border-default);
			}
		}
	}
	&.valid-error {
		.file-name {
			border: {
				color: var(--border-valid);
			}
		}
	}
}
// ! select
.select-box {
	select {
		@include bg-image-set(common, ico-selectbox-arrow, right var(--selectbox-arrow-position) center, no-repeat, var(--c-white));
		@include border(all, 1px, solid, transparent);
		@include text-ellipsis;
		display: block;
		width: 100%;
		&:invalid {
			color: var(--placeholder);
		}
		height: var(--selectbox-height);
		padding: 0 calc(var(--selectbox-padding-right) + 20px) 0 var(--selectbox-padding-left);
		font: {
			size: var(--selectbox-font-size);
			weight: var(--selectbox-font-weight);
		}
		border: {
			radius: var(--selectbox-radius);
		}
	}
	&.sm {
		select {
			--selectbox-height: 30px;
			--selectbox-font-size: var(--fs-xsmall);
			--selectbox-padding-left: 0.571rem;
			--selectbox-padding-right: 0.571rem;
			--selectbox-radius: var(--rd-small);
			--selectbox-arrow-position: 0.571rem;
		}
	}
	&.md {
		select {
			--selectbox-height: 36px;
			--selectbox-font-size: var(--fs-base);
			--selectbox-padding-left: 0.643rem;
			--selectbox-padding-right: 0.643rem;
			--selectbox-radius: var(--rd-small);
			--selectbox-arrow-position: 0.643rem;
		}
	}
	&.lg {
		select {
			--selectbox-height: 42px;
			--selectbox-font-size: var(--fs-medium);
			--selectbox-padding-left: 0.857rem;
			--selectbox-padding-right: 0.857rem;
			--selectbox-radius: var(--rd-medium);
			--selectbox-arrow-position: 0.857rem;
		}
	}
	&.xl {
		select {
			--selectbox-height: 50px;
			--selectbox-font-size: var(--fs-medium);
			--selectbox-padding-left: 1.143rem;
			--selectbox-padding-right: 1.143rem;
			--selectbox-radius: var(--rd-medium);
			--selectbox-arrow-position: 1.143rem;
		}
	}
	&.line {
		select {
			border: {
				color: var(--border-default);
			}
			&:not(:disabled) {
				&:focus {
					border: {
						color: var(--border-focus);
					}
				}
			}
		}
	}
	&.seat {
		select {
			@include bg-image-set(common, ico-selectbox-seat-default, left 12px center, no-repeat);
			padding-left: 42px;
			&:disabled {
				@include bg-image-set(common, ico-selectbox-seat-disabled, left 12px center, no-repeat);
			}
		}
	}
	&.valid-error {
		select {
			border: {
				color: var(--border-valid);
			}
		}
	}
}
// ! textarea
.textarea {
	textarea {
		@include border(all, 1px, solid, transparent);
		display: block;
		width: 100%;
		background: {
			color: var(--c-white);
		}
	}
	&.md {
		textarea {
			padding: 16px;
			font: {
				size: var(--fs-medium);
				weight: var(--fw-medium);
			}
			border: {
				radius: var(--rd-medium);
			}
		}
	}
	&.line {
		textarea {
			border: {
				color: var(--border-default);
			}
			&:not(:disabled):not(:read-only) {
				&:focus {
					border: {
						color: var(--border-focus);
					}
				}
			}
		}
	}
	&.valid-error {
		textarea {
			border: {
				color: var(--border-valid);
			}
		}
	}
}
// ! Checkbox
.checkbox {
	@include flex(inline-flex);
	&.type1 {
		.control-text {
			&:before,
			&:after {
				@include position(absolute, null, 0);
				@include border(all, 2px, solid, null, var(--rd-small));
				width: 24px;
				height: 24px;
			}
			> span {
				@include underline-offset(4);
				font: {
					weight: var(--fw-medium);
				}
			}
		}
		.control-input {
			&:not(:checked) {
				+ .control-text {
					&:before,
					&:after {
						border: {
							color: var(--border-default);
						}
						background: {
							color: var(--c-white);
						}
					}
				}
			}
			&:checked {
				+ .control-text {
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox-checked, 50% 50%, no-repeat, var(--primary-blue));
						border: {
							color: var(--primary-blue);
						}
					}
				}
			}
			&:disabled {
				+ .control-text {
					cursor: not-allowed;
					&:before,
					&:after {
						border: {
							color: var(--border-default);
						}
						background: {
							color: var(--disabled);
						}
					}
				}
			}
			&:checked:disabled,
			&:disabled:checked {
				+ .control-text {
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox-checked, 50% 50%, no-repeat, var(--border-default));
						border: {
							color: var(--border-default);
						}
					}
				}
			}
		}
		&:not(.rtl):not(.only) {
			.control-text {
				padding-left: 34px;
			}
		}
		&:not(.rtl) {
			.control-text {
				&:before {
					content: '';
					left: 0;
				}
			}
		}
		&.rtl {
			.control-text {
				padding-right: 34px;
				&:after {
					content: '';
					right: 0;
				}
			}
		}
		&.only {
			.control-text {
				height: 24px;
				padding-left: 24px;
			}
		}
	}
	&.type2 {
		.control-text {
			&:before,
			&:after {
				@include position(absolute, null, 0);
				width: 20px;
				height: 20px;
			}
		}
		.control-input {
			&:not(:checked) {
				+ .control-text {
					color: var(--c-gray-5);
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox2-default, 50% 50%, no-repeat);
					}
				}
			}
			&:checked {
				+ .control-text {
					color: var(--c-gray-1);
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox2-checked, 50% 50%, no-repeat);
					}
				}
			}
			&:disabled {
				+ .control-text {
					cursor: not-allowed;
					color: var(--c-gray-5);
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox2-disabled, 50% 50%, no-repeat);
					}
				}
			}
		}
		&:not(.rtl):not(.only) {
			.control-text {
				padding-left: 26px;
			}
		}
		&:not(.rtl) {
			.control-text {
				&:before {
					content: '';
					left: 0;
				}
			}
		}
		&.rtl {
			.control-text {
				padding-right: 26px;
				&:after {
					content: '';
					right: 0;
				}
			}
		}
		&.md {
			.control-text {
				font: {
					size: var(--fs-base);
					weight: var(--fw-medium);
				}
			}
		}
		&.only {
			.control-text {
				height: 20px;
				padding-left: 20px;
			}
		}
	}
	&.type3 {
		.control-text {
			&:before,
			&:after {
				display: inline-block;
				width: 20px;
				height: 20px;
			}
		}
		.control-input {
			&:not(:checked) {
				+ .control-text {
					color: var(--c-black);
					border: {
						color: var(--border-default);
					}
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox3-default, 50% 50%, no-repeat);
					}
				}
			}
			&:checked {
				+ .control-text {
					color: var(--c-white);
					font: {
						weight: var(--fw-bold);
					}
					background: {
						color: var(--primary-blue);
					}
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox3-checked, 50% 50%, no-repeat);
					}
				}
			}
			&:disabled {
				+ .control-text {
					cursor: not-allowed;
					color: var(--c-gray-5);
					border: {
						color: var(--border-default);
					}
					&:before,
					&:after {
						@include bg-image-set(common, ico-checkbox3-disabled, 50% 50%, no-repeat);
					}
				}
			}
		}
		&:not(.rtl) {
			.control-text {
				&:before {
					content: '';
					margin-right: 2px;
				}
			}
		}
		&.rtl {
			.control-text {
				&:after {
					content: '';
					margin-left: 2px;
				}
			}
		}
		&.md {
			.control-text {
				@include border(all, 1px, solid, transparent, 18px);
				@include flex(flex, null, null, center);
				height: 36px;
				padding: 12px;
				font: {
					size: var(--fs-base);
				}
			}
		}
	}
}
// ! Radio
.radio {
	@include flex(inline-flex);
	.control-text {
		&:before,
		&:after {
			@include position(absolute, null, 0);
			@include border(all, 5px, solid, var(--c-white), var(--rd-full));
			width: 24px;
			height: 24px;
			outline-offset: -2px;
			outline: {
				width: 2px;
				style: solid;
			}
		}
	}
	.control-input {
		&:not(:checked) {
			+ .control-text {
				&:before,
				&:after {
					outline: {
						color: var(--border-default);
					}
					background: {
						color: var(--c-white);
					}
				}
			}
		}
		&:checked {
			+ .control-text {
				&:before,
				&:after {
					outline: {
						color: var(--primary-blue);
					}
					background: {
						color: var(--primary-blue);
					}
				}
			}
		}
		&:disabled {
			+ .control-text {
				cursor: not-allowed;
				&:before,
				&:after {
					outline: {
						color: var(--border-default);
					}
					background: {
						color: var(--disabled);
					}
					border: {
						width: 0;
					}
				}
			}
		}
		&:checked:disabled,
		&:disabled:checked {
			+ .control-text {
				&:before,
				&:after {
					outline: {
						color: var(--border-default);
					}
					background: {
						color: var(--border-default);
					}
					border: {
						width: 5px;
						color: var(--c-white);
					}
				}
			}
		}
	}
	&:not(.rtl) {
		.control-text {
			padding-left: 34px;
			&:before {
				content: '';
				left: 0;
			}
		}
	}
	&.rtl {
		.control-text {
			padding-right: 34px;
			&:after {
				content: '';
				right: 0;
			}
		}
	}
}
// * checkbox, radio 공통
.checkbox,
.radio {
	@include position(relative);
	.control-input {
		@include position(absolute, -1, 0, null, null, 0);
		width: 0;
		height: 0;
		opacity: 0;
		&:checked:disabled,
		&:disabled:checked,
		&:disabled {
			+ .control-text {
				cursor: not-allowed;
			}
		}
	}
	.control-text {
		@include position(relative);
		width: 100%;
		cursor: pointer;
		line-height: var(--lh-140);
	}
	&.valid-error {
		.control-text {
			color: var(--border-valid);
		}
	}
}
.checkbox.type1,
.radio {
	&.md {
		.control-text {
			padding: {
				top: 2px;
				bottom: 2px;
			}
			&:before,
			&:after {
				top: 0;
			}
			font: {
				size: var(--fs-medium);
				weight: var(--fw-medium);
			}
		}
	}
	&.sm {
		.control-text {
			padding: {
				top: 3px;
				bottom: 3px;
			}
			&:before,
			&:after {
				top: 0;
			}
			font: {
				size: var(--fs-base);
				weight: var(--fw-medium);
			}
		}
	}
}

// ! radio-group
.radio-group {
	&.type1 {
		@include flex(flex, null, null, center);
		gap: 0.571rem;
		.radio-group-item {
			@include position(relative);
			flex: 1 1;
			.control-input {
				@include position(absolute, 0, null, null, 0);
				opacity: 0;
				width: 0;
				height: 0;
				&:not(:checked) {
					+ .control-text {
						--radio-item-border-color: var(--border-default);
						color: var(--c-gray-3);
						background: {
							color: var(--c-white);
						}
						.icon {
							filter: brightness(0) saturate(100%) invert(53%) sepia(9%) saturate(227%) hue-rotate(174deg) brightness(95%) contrast(92%);
						}
					}
				}
				&:checked {
					+ .control-text {
						--radio-item-border-color: transparent;
						color: var(--c-white);
						font: {
							weight: var(--fw-medium);
						}
						background: {
							color: var(--tertiary-blue);
						}
						.icon {
							filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(311deg) brightness(102%) contrast(103%);
						}
					}
				}
			}
			.control-text {
				@include border(all, 1px, solid, var(--radio-item-border-color), var(--radio-item-radius));
				@include flex(flex, null, null, center, null, null, center);
				height: var(--radio-item-height);
				cursor: pointer;
				font: {
					size: var(--radio-item-font-size);
				}
				.icon {
					flex: none;
					margin-right: 0.286rem;
				}
			}
		}
	}
	&.type2 {
		@include flex(flex, null, null, flex-start);
		@include border(all, 1px, solid, var(--border-default), var(--radio-item-radius));
		overflow: hidden;
		.radio-group-item {
			@include position(relative);
			flex: 1 1;
			.control-input {
				@include position(absolute, 0, null, null, 0);
				opacity: 0;
				width: 0;
				height: 0;
				&:not(:checked) {
					+ .control-text {
						--radio-item-border-color: var(--border-default);
						color: var(--c-gray-3);
						background: {
							color: var(--c-white);
						}
						.icon {
							filter: brightness(0) saturate(100%) invert(53%) sepia(9%) saturate(227%) hue-rotate(174deg) brightness(95%) contrast(92%);
						}
					}
				}
				&:checked {
					+ .control-text {
						--radio-item-border-color: transparent;
						color: var(--c-white);
						font: {
							weight: var(--fw-medium);
						}
						background: {
							color: var(--tertiary-blue);
						}
						.icon {
							filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(311deg) brightness(102%) contrast(103%);
						}
					}
				}
			}
			.control-text {
				@include flex(flex, null, null, center, null, null, center);
				height: calc(var(--radio-item-height) - 2px);
				cursor: pointer;
				font: {
					size: var(--radio-item-font-size);
				}
				min-width:fit-content;
			}
			&:not(:first-child) {
				.control-input {
					&:not(:checked) {
						+ .control-text {
							border: {
								left: 1px solid var(--border-default);
								right: 1px solid var(--border-default);
							}
						}
					}
					&:checked {
						+ .control-text {
							border: {
								left: 1px solid transparent;
								right: 1px solid transparent;
							}
						}
					}
				}
				.control-text {
					margin-inline: -1px;
				}
			}
		}
	}
	&.sm {
		--radio-item-height: 30px;
		--radio-item-radius: var(--rd-small);
		--radio-item-font-size: var(--fs-xsmall);
		--icon-size: 14px;
	}
	&.md {
		--radio-item-height: 36px;
		--radio-item-radius: var(--rd-small);
		--radio-item-font-size: var(--fs-base);
		--icon-size: 16px;
	}
	&.lg {
		--radio-item-height: 42px;
		--radio-item-radius: var(--rd-medium);
		--radio-item-font-size: var(--fs-medium);
		--icon-size: 18px;
	}
	&.xl {
		--radio-item-height: 50px;
		--radio-item-radius: var(--rd-medium);
		--radio-item-font-size: var(--fs-large);
		--icon-size: 20px;
	}
}
// ! switch
.switch {
	@include position(relative);
	@include flex(inline-flex, null, null, center);
	vertical-align: middle;
	--margin-size: 8px;
	--first-position: -2px;
	--second-position: 14px;
	.control-input {
		@include position(absolute, -1, 0, null, null, 0);
		width: 0;
		height: 0;
		opacity: 0;
		&:checked {
			+ .control-text {
				color: var(--c-gray-1);
				&:after {
					--switch-btn-color: var(--primary-blue);
				}
			}
		}
		&:not(:checked) {
			+ .control-text {
				color: var(--c-gray-3);
				&:after {
					--switch-btn-color: var(--c-white);
					--switch-btn-border: var(--border-default);
				}
			}
		}
	}
	.control-text {
		@include position(relative);
		@include flex(flex, null, null, center);
		flex: none;
		transition: color 200ms;
		&:before,
		&:after {
			content: "";
		}
		&:before {
			display: inline-block;
			flex: none;
			width: 24px;
			height: 8px;
			background: {
				color: var(--c-gray-7);
			}
			border: {
				radius: 4px;
			}
		}
		&:after {
			@include position(absolute, 0, 50%, null, null, null, null, -50%);
			@include border(all, 1px, solid, var(--switch-btn-border, transparent), var(--rd-half));
			@include box-shadow(0, 0.125rem, 0.25rem, rgba(165, 163, 174, .15));
			width: 14px;
			height: 14px;
			background: {
				color: var(--switch-btn-color);
			}
		}
		font: {
			size: var(--switch-btn-font-size);
		}
	}
	&[data-switch-direction="left"] {
		.control-input {
			&:checked {
				+ .control-text {
					&:after {
						left: var(--second-position);
					}
				}
			}
			&:not(:checked) {
				+ .control-text {
					&:after {
						left: var(--first-position);
					}
				}
			}
		}
		.control-text {
			&:before {
				margin-right: var(--margin-size);
			}
			&:after {
				transition: left 200ms;
			}
		}
	}
	&[data-switch-direction="right"] {
		.control-input {
			&:checked {
				+ .control-text {
					&:after {
						right: var(--first-position);
					}
				}
			}
			&:not(:checked) {
				+ .control-text {
					&:after {
						right: var(--second-position);
					}
				}
			}
		}
		.control-text {
			flex-direction: row-reverse;
			&:before {
				margin-left: var(--margin-size);
			}
			&:after {
				transition: right 200ms;
			}
		}
	}
	&.sm {
		--switch-btn-font-size: var(--fs-small);
	}
	&.md {
		--switch-btn-font-size: var(--fs-base);
	}
	&.lg {
		--switch-btn-font-size: var(--fs-medium);
	}
	&.xl {
		--switch-btn-font-size: var(--fs-medium);
	}
}

@media (hover: hover) {
	.input {
		.btn-input-cal {
			&:hover {
				filter: brightness(0) saturate(100%) invert(18%) sepia(0%) saturate(7500%) hue-rotate(279deg) brightness(98%) contrast(93%);
			}
		}
	}
}
@media (min-width: 769px) {
	.form-group {
		&.search-all,
		&.search-month {
			.radio-group {
				flex: 0 0 40%;
			}
		}
		&.both {
			.input {
				.layer-calendar {
					@include position(absolute, 1, calc(100% + 5px), 0);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.form-group {
		&.search-all,
		&.search-month {
			flex-wrap: wrap;
			> * {
				flex: 0 0 100%;
			}
			.btn {
				flex: 0 0 100%;
				margin-top: 0.571rem;
			}
		}
		&.search-all {
			.form-group {
				margin-top: 0.571rem;
			}
		}
		&.search-month {
			.radio-group {
				margin-bottom: 0.571rem;
			}
		}
		&.both {
			.input {
				&:nth-of-type(1) {
					.layer-calendar {
						@include position(absolute, 1, calc(100% + 5px), null, null, 0);
					}
				}
				&:nth-of-type(2) {
					.layer-calendar {
						@include position(absolute, 1, calc(100% + 5px), 0);
					}
				}
			}
		}
	}
}
