@charset "UTF-8";

.icon {
	@include flex(inline-flex, null, null, center, null, null, center);
	--size: initial;
	flex: none;
	background: {
		position: 50% 50%;
		repeat: no-repeat;
	}
	overflow: hidden;
	width: var(--icon-size);
	height: var(--icon-size);
	background: {
		size: auto var(--icon-size);
	}
	vertical-align: middle;
	&.xxs {
		--icon-size: 12px;
	}
	&.xs {
		--icon-size: 14px;
	}
	&.sm {
		--icon-size: 16px;
	}
	&.md {
		--icon-size: 24px;
	}
	&.lg {
		--icon-size: 28px;
	}
	&.xl {
		--icon-size: 32px;
	}
	&.xxl {
		--icon-size: 36px;
	}
	&.alert {
		&-circle {
			@include bg-image-svg(icons, ico-alert-circle);
			&-filld {
				@include bg-image-svg(icons, ico-alert-circle-filled);
			}
		}
		&-triangle {
			@include bg-image-svg(icons, ico-alert-triangle);
			&-filld {
				@include bg-image-svg(icons, ico-alert-triangle-filled);
			}
		}
	}
	&.arrow {
		&-down {
			@include bg-image-svg(icons, ico-arrow-down);
		}
		&-left {
			@include bg-image-svg(icons, ico-arrow-left);
		}
		&-right {
			@include bg-image-svg(icons, ico-arrow-right);
		}
		&-up {
			@include bg-image-svg(icons, ico-arrow-up);
		}
	}
	&.arrows {
		&-exchange {
			@include bg-image-svg(icons, ico-arrows-exchange);
		}
		&-horizontal {
			@include bg-image-svg(icons, ico-arrows-horizontal);
		}
		&-transfer-down {
			@include bg-image-svg(icons, ico-arrows-transfer-down);
		}
		&-transfer-up {
			@include bg-image-svg(icons, ico-arrows-transfer-up);
		}
		&-up-down {
			@include bg-image-svg(icons, ico-arrows-up-down);
		}
	}
	&.booking {
		@include bg-image-svg(icons, ico-booking);
	}
	&.bookmark {
		@include bg-image-svg(icons, ico-bookmark);
	}
	&.building {
		@include bg-image-svg(icons, ico-building);
	}
	&.bus {
		@include bg-image-svg(icons, ico-bus);
	}
	&.cake {
		@include bg-image-svg(icons, ico-cake);
	}
	&.calculator {
		@include bg-image-svg(icons, ico-calculator);
	}
	&.calendar {
		&-user {
			@include bg-image-svg(icons, ico-calendar-user);
		}
		&-month {
			@include bg-image-svg(icons, ico-calendar-month);
		}
	}
	&.chevron {
		&-down {
			@include bg-image-svg(icons, ico-chevron-down);
		}
		&-left {
			@include bg-image-svg(icons, ico-chevron-left);
		}
		&-right {
			@include bg-image-svg(icons, ico-chevron-right);
		}
		&-up {
			@include bg-image-svg(icons, ico-chevron-up);
		}
	}
	&.circle-chevron {
		&-down {
			@include bg-image-svg(icons, ico-circle-chevron-down);
		}
		&-left {
			@include bg-image-svg(icons, ico-circle-chevron-left);
		}
		&-right {
			@include bg-image-svg(icons, ico-circle-chevron-right);
		}
		&-up {
			@include bg-image-svg(icons, ico-circle-chevron-up);
		}
	}
	&.close {
		@include bg-image-svg(icons, ico-calendar-close);
	}
	&.currency {
		&-won {
			@include bg-image-svg(icons, ico-currency-won);
		}
	}
	&.device-mobile {
		@include bg-image-svg(icons, ico-device-mobile);
	}
	&.download {
		@include bg-image-svg(icons, ico-download);
	}
	&.edit {
		@include bg-image-svg(icons, ico-edit);
	}
	&.eye {
		@include bg-image-svg(icons, ico-eye);
	}
	&.flag {
		@include bg-image-svg(icons, ico-flag);
		&-2 {
			@include bg-image-svg(icons, ico-flag-2);
		}
		&-3 {
			@include bg-image-svg(icons, ico-flag-3);
		}
	}
	&.flight {
		@include bg-image-svg(icons, ico-flight);
	}
	&.gender {
		&-male {
			@include bg-image-svg(icons, ico-gender-male);
		}
		&-female {
			@include bg-image-svg(icons, ico-gender-female);
		}
	}
	&.home {
		@include bg-image-svg(icons, ico-home);
	}
	&.hotel {
		@include bg-image-svg(icons, ico-hotel);
	}
	&.id {
		@include bg-image-svg(icons, ico-id);
	}
	&.location {
		@include bg-image-svg(icons, ico-location);
	}
	&.list-off {
		@include bg-image-svg(icons, ico-list-off);
	}
	&.lock {
		@include bg-image-svg(icons, ico-lock);
	}
	&.logout {
		@include bg-image-svg(icons, ico-logout);
	}
	&.mail {
		@include bg-image-svg(icons, ico-mail);
	}
	&.map {
		@include bg-image-svg(icons, ico-map);
		&-pin {
			@include bg-image-svg(icons, ico-map-pin);
		}
		&-search {
			@include bg-image-svg(icons, ico-map-search);
		}
	}
	&.menu {
		@include bg-image-svg(icons, ico-menu);
	}
	&.message-question {
		@include bg-image-svg(icons, ico-message-question);
	}
	&.password {
		@include bg-image-svg(icons, ico-password);
	}
	&.phone {
		@include bg-image-svg(icons, ico-phone);
	}
	&.photo {
		@include bg-image-svg(icons, ico-photo);
	}
	&.receipt {
		@include bg-image-svg(icons, ico-receipt);
	}
	&.refresh {
		@include bg-image-svg(icons, ico-refresh);
	}
	&.reload {
		@include bg-image-svg(icons, ico-reload);
	}
	&.rentalcar {
		@include bg-image-svg(icons, ico-rentalcar);
	}
	&.report {
		@include bg-image-svg(icons, ico-report);
	}
	&.search {
		@include bg-image-svg(icons, ico-report);
	}
	&.setting {
		@include bg-image-svg(icons, ico-settings);
	}
	&.staff {
		@include bg-image-svg(icons, ico-staff);
	}
	&.ticket {
		@include bg-image-svg(icons, ico-ticket);
	}
	&.train {
		@include bg-image-svg(icons, ico-train);
	}
	&.trending {
		&-up {
			@include bg-image-svg(icons, ico-trending-up);
			filter: brightness(0) saturate(100%) invert(28%) sepia(95%) saturate(999%) hue-rotate(330deg) brightness(93%) contrast(101%);
		}
		&-down {
			@include bg-image-svg(icons, ico-trending-down);
			filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(2415%) hue-rotate(226deg) brightness(84%) contrast(104%);
		}
	}
	&.upload {
		@include bg-image-svg(icons, ico-upload);
	}
	&.user {
		@include bg-image-svg(icons, ico-user);
		&-plus {
			@include bg-image-svg(icons, ico-user-plus);
		}
		&-cog {
			@include bg-image-svg(icons, ico-user-cog);
		}
	}
}
