@charset "UTF-8";

.table {
	--table-bg-color: initial;
	--table-hover-color: initial;
	--table-border-color: var(--border-default);
	--table-accent-color: var(--c-point-1);
	--table-link-color: var(--primary-blue);
	&.type1 {
		--table-bg-color: #FBFBFE;
		table {
			border-collapse: collapse;
			caption-side: bottom;
		}
		thead {
			background: {
				color: var(--table-bg-color);
			}
			th {
				padding: 0.714rem 1.143rem;
				color: var(--c-gray-1);
				text-align: left;
				font: {
					size: var(--fs-small);
					weight: var(--fw-medium);
				}
			}
		}
		tbody {
			&:has(.btn) {
				th, td {
					padding: 0.464rem 1.143rem;
				}
			}
			th,
			td {
				padding: 0.857rem 1.143rem;
				color: var(--c-gray-3);
				text-align: left;
			}
			th {
				color: var(--c-gray-1);
				font: {
					weight: var(--fw-medium);
				}
			}
		}
		tfoot {
			th {
				padding: 0.714rem 1.143rem;
				color: var(--c-gray-1);
				text-align: left;
				background: {
					color: var(--table-bg-color);
				}
				font: {
					size: var(--fs-small);
					weight: var(--fw-medium);
				}
			}
		}
	}
	&.bordered-thead-top {
		thead {
			th {
				@include border(top, 1px, solid, var(--table-border-color));
			}
		}
	}
	&.bordered-bottom {
		th, td {
			@include border(bottom, 1px, solid, var(--table-border-color));
		}
		.table-border-bottom-none {
			tr {
				&:last-child {
					th, td {
						border-bottom-width: 0;
					}
				}
			}
		}
	}
	.table-link {
		color: var(--table-link-color);
	}
	&.text-wrap {
		white-space: nowrap $imp;
	}
	&.table-responsive {
		overflow-x: auto;
	}
	&.table-hover {
		--table-hover-color: rgba(var(--primary-blue-rgb), 0.03);
	}
}

.td-load {
	width: 100%;
	display: inline-block;
	height: 16px;
	border: {
		radius: var(--rd-small);
	}
	background: linear-gradient(to right, #eaecee 30%, #f2f3f7 50%, #eaecee 70%);
	background-size: 200% 200%;
	animation: 1.2s skeleton-loading linear infinite;
}

@media (hover: hover) {
	.table {
		.table-link {
			&:hover {
				@include underline-offset(4);
			}
		}
		&.table-hover {
			tbody {
				&:not(.table-nolist):not(.table-loading) {
					tr {
						&:hover {
							background: {
								color: var(--table-hover-color);
							}
						}
					}
				}
			}
		}
	}
}
