@charset "UTF-8";

.bubble {
	@include position(absolute, 1, null, null, null, null);
	--bubble-bg: var(--c-white);
	--gap: 0.571rem;
	display: none;
	width: max-content;
	color: var(--bubble-text, var(--c-gray-3));
	filter: drop-shadow(0 0.125rem 0.25rem rgba(165, 163, 174, .15));
	border: {
		radius: var(--rd-small);
	}
	background: {
		color: var(--bubble-bg);
	}
	&:before {
		@include position(absolute);
		content: "";
	}
	&[data-direction="top"] {
		bottom: calc(100% + var(--gap));
		left: 50%;
		transform: translateX(-50%);
		&:before {
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			border: {
				top: 5px solid var(--bubble-bg);
				right: 5px solid transparent;
				left: 5px solid transparent;
			}
		}
	}
	&[data-direction="left"] {
		top: 50%;
		right: calc(100% + var(--gap));
		transform: translateY(-50%);
		&:before {
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
			border: {
				top: 5px solid transparent;
				bottom: 5px solid transparent;
				left: 5px solid var(--bubble-bg);
			}
		}
	}
	&[data-direction="right"] {
		top: 50%;
		left: calc(100% + var(--gap));
		transform: translateY(-50%);
		&:before {
			top: 50%;
			right: 100%;
			transform: translateY(-50%);
			border: {
				top: 5px solid transparent;
				right: 5px solid var(--bubble-bg);
				bottom: 5px solid transparent;
			}
		}
	}
	&[data-direction="bottom"] {
		top: calc(100% + var(--gap));
		left: 50%;
		transform: translateX(-50%);
		&:before {
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			border: {
				right: 5px solid transparent;
				bottom: 5px solid var(--bubble-bg);
				left: 5px solid transparent;
			}
		}
	}
	&.sm {
		padding: 0.429rem;
		font: {
			size: var(--fs-xxsmall);
		}
	}
	&.md {
		padding: 0.571rem;
		font: {
			size: var(--fs-xsmall);
		}
	}
	&.md {
		padding: 0.714rem;
		font: {
			size: var(--fs-small);
		}
	}
}

// * calendar
.layer-calendar {
	@include border(all, 1px, solid, var(--border-default), var(--rd-small));
	@include box-shadow(0, 0.125rem, 0.25rem, rgba(165, 163, 174, .15));
	--calendar-gap: 0.143rem;
	width: 200px;
	padding: 0.714rem;
	background: {
		color: var(--c-white);
	}
	&:not(.show) {
		display: none;
	}
	&.show {
		display: block;
	}
	.calendar-selector {
		@include flex(flex, null, null, stretch);
		gap: var(--calendar-gap);
		margin-bottom: 0.357rem;
		.select-box {
			flex: 1 1;
		}
	}
	.calendar-header,
	.calendar-body {
		gap: var(--calendar-gap);
	}
	.calendar-header {
		@include flex(flex, null, null, center);
		padding: var(--calendar-gap) 0;
		margin-bottom: 0.357rem;
		background: {
			color: #FBFBFE;
		}
		span {
			@include flex(inline-flex, null, null, center, null, null, center);
			flex: 1 1;
			aspect-ratio: 1/1;
			font: {
				size: var(--fs-xsmall);
				weight: var(--fw-medium);
			}
			&:nth-child(1) {
				color: var(--c-point-1);
			}
			&:nth-child(7) {
				color: var(--tertiary-blue);
			}
		}
	}
	.calendar-body {
		@include flex(flex, null, wrap, flex-start);
		&.month {
			.day {
				@include flex(inline-flex, null, null, center, null, null, center);
				flex: 0 0 calc((100% - calc(var(--calendar-gap)*6)) / 7);
				aspect-ratio: 1/1;
				border: {
					radius: var(--rd-small);
				}
				font: {
					size: var(--fs-xsmall);
				}
				&:nth-child(7n + 1) {
					color: var(--c-point-1);
				}
				&:nth-child(7n) {
					color: var(--tertiary-blue);
				}
				&:disabled {
					color: var(--c-gray-5);
				}
				&.today {
					color: var(--c-white);
					background: {
						color: rgba(var(--c-point-2-rgb), 0.5);
					}
				}
				&[aria-checked="true"] {
					color: var(--c-white);
					background: {
						color: var(--tertiary-blue);
					}
					font: {
						weight: var(--fw-medium);
					}
				}
			}
		}
		&.year {
			margin-top: 0.714rem;
			.month {
				@include flex(inline-flex, null, null, center, null, null, center);
				flex: 0 0 calc((100% - calc(var(--calendar-gap)*2)) / 3);
				padding: 0.429rem 0;
				border: {
					radius: var(--rd-small);
				}
				font: {
					size: var(--fs-xsmall);
				}
				&:disabled {
					color: var(--c-gray-5);
				}
				&[aria-checked="true"] {
					color: var(--c-white);
					background: {
						color: var(--tertiary-blue);
					}
					font: {
						weight: var(--fw-medium);
					}
				}
			}
		}
	}
}

// * pagination
.pagination {
	@include flex(flex, null, null, center);
	gap: 0.429rem;
	&.default {
		justify-content: center;
	}
	&.database {
		padding: 1.143rem;
		justify-content: flex-end;
	}
	.btn-pagination-prev,
	.btn-pagination-next,
	.btn-pagination {
		@include border(all, 1px, solid, transparent, var(--rd-small));
		@include flex(flex, null, null, center, null, null, center);
		flex: none;
		height: 30px;
		font: {
			size: var(--fs-xsmall);
		}
	}
	.btn-pagination-prev,
	.btn-pagination-next {
		padding: 0 0.571rem;
		color: var(--c-gray-3);
		border: {
			color: var(--border-default);
		}
		&:before,
		&:after {
			flex: none;
			width: 14px;
			height: 14px;
			filter: brightness(0) saturate(100%) invert(51%) sepia(6%) saturate(340%) hue-rotate(181deg) brightness(98%) contrast(95%);
			background: {
				position: 50% 50%;
				size: 14px auto;
				repeat: no-repeat;
			}
		}
	}
	.btn-pagination-prev {
		&:before {
			@include bg-image-svg(icons, ico-chevron-left);
			content: "";
			margin-right: 4px;
		}
	}
	.btn-pagination-next {
		&:after {
			@include bg-image-svg(icons, ico-chevron-right);
			content: "";
			margin-left: 4px;
		}
	}
	.btn-pagination {
		width: 30px;
		&:not(.selected) {
			color: var(--c-gray-3);
			background: {
				color: var(--c-white);
			}
			border: {
				color: var(--border-default);
			}
		}
		&.selected {
			color: var(--c-white);
			background: {
				color: var(--primary-blue);
			}
		}
	}
}

// * list count
.list-total-count {
	color: var(--c-gray-4);
	margin-bottom: 0.714rem;
	font: {
		size: var(--total-count-text-size);
	}
	strong {
		color: var(--primary-blue);
	}
}
.database-control {
	@include flex(flex, null, null, center, null, null, flex-end);
	gap: 0.429rem;
}
.database-nolist {
	@include flex(flex, column, null, center, null, null, center);
	padding: 2.857rem 0;
	gap: 0.714rem;
	.icon {
		filter: brightness(0) saturate(100%) invert(78%) sepia(5%) saturate(307%) hue-rotate(157deg) brightness(95%) contrast(99%);
	}
	.nolist-msg {
		text-align: center;
		line-height: var(--lh-150);
		font: {
			size: var(--fs-small);
		}
	}
}

.list-dropdown {
	&:not([open]) {
		summary {
			&:after {
				@include bg-image-svg(icons, ico-chevron-down);
			}
		}
	}
	&[open] {
		summary {
			margin-bottom: 1rem;
			&:after {
				@include bg-image-svg(icons, ico-chevron-up);
			}
		}
	}
	summary {
		@include position(relative);
		&:after {
			@include position(absolute, 1, 50%, 0, null, null, null, -50%);
			content: "";
			width: 16px;
			height: 16px;
			background: {
				position: 50% 50%;
				size: 16px auto;
				repeat: no-repeat;
			}
		}
	}
	+ .list-dropdown {
		margin-top: var(--list-dropdown-margin);
	}
}

@media (hover: hover) {
	.pagination {
		.btn-pagination-prev,
		.btn-pagination-next,
		.btn-pagination:not(.selected) {
			&:hover {
				border: {
					color: var(--c-gray-6);
				}
			}
		}
	}
}
@media (min-width: 769px) {
	.list-total-count {
		--total-count-text-size: var(--fs-base);
	}
	.list-dropdown {
		--list-dropdown-margin: 2.857rem;
	}
}
@media (max-width: 768px) {
	.list-total-count {
		--total-count-text-size: var(--fs-small);
	}
	.pagination {
		&.database {
			justify-content: center;
		}
	}
	.list-dropdown {
		--list-dropdown-margin: 1.429rem;
	}
}
