@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	letter-spacing: -0.3px;
	box-sizing: border-box;
	&:after,
	&:before {
		box-sizing: border-box;
		pointer-events: none;
	}
}
body,
html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
html {
	height: 100%;
	height: -webkit-fill-available;
	scroll-behavior: smooth;
}
body {
	color: var(--c-black);
	font: {
		size: var(--fs-base);
		family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
		weight: var(--fw-base);
		feature-settings: 'tnum';
		variant-numeric: tabular-nums;
	}
	background: {
		color: var(--c-white);
	}
	&.stop-scroll {
		overflow-y: hidden;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
:root {
	cursor: default;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-wrap: break-word;
	tab-size: 4;
	-moz-tab-size: 4;
	-webkit-tap-highlight-color: transparent;
}
table {
	width: 100%;
	border-collapse: collapse;
}
caption,
legend {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
}
fieldset,
img {
	border: 0;
}
ol,
ul,
menu {
	list-style: none;
}
address,
em {
	font-style: normal;
}
a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
area {
	outline: none;
}
button,
[role='button'] {
	text-align: inherit;
	&:not(:disabled) {
		cursor: pointer;
	}
	&:disabled {
		cursor: not-allowed $imp;
	}
	// &:not(:disabled) {
	// 	will-change: transform;
	// 	&:active {
	// 		transform: translateY(1px);
	// 	}
	// }
}
a,
select,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
button {
	&:focus-visible {
		outline: 2px solid rgba(var(--primary-blue-rgb), 0.5);
	}
	&:focus:not(:focus-visible) {
		outline: 0;
	}
}
hr {
	margin: 5px 0;
	border-color: transparent;
}
img {
	max-width: 100%;
	vertical-align: top;
}
mark {
	color: inherit;
	background: 0 0;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: normal;
}
sup {
	vertical-align: baseline;
	font-size: inherit;
	&:after {
		content: '*';
		color: var(--c-point-1);
		margin-left: 3px;
		font: {
			weight: var(--fw-medium);
		}
	}
}
button,
input,
select,
textarea {
	background: 0 0;
	outline: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: {
		width: 0;
		radius: 0;
	}
}
input,
select,
textarea {
	&:disabled {
		cursor: not-allowed;
		color: rgba(var(--c-black-rgb), 0.4);
		background: {
			color: var(--disabled) $imp;
		}
	}
	&:read-only {
		cursor: default;
	}
}
input::-ms-clear,
select::-ms-expand {
	display: none;
}
input,
textarea {
	caret-color: var(--border-focus);
	&::placeholder {
		color: rgba(var(--c-gray-3-rgb), 0.4);
	}
}
[type='submit'] {
	-webkit-appearance: button;
	background: {
		color: transparent;
		image: none;
	}
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
[type='search'] {
	outline-offset: -2px;
	appearance: textfield;
	-webkit-appearance: textfield;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
summary {
	display: list-item;
	cursor: pointer;
	&::marker,
	&::-webkit-details-marker {
		content: none;
		display: none;
	}
}
strong {
	font: {
		weight: var(--fw-bold);
	}
}
.checkbox,
.radio {
	cursor: pointer;
}
.underline {
	text-decoration: underline;
	text-underline-offset: 3px;
}
// * color
.c {
	@for $i from 1 through 8 {
		&-gray-#{$i} {
			color: var(--c-gray-#{$i}) $imp;
		}
	}
	@for $i from 1 through 2 {
		&-point-#{$i} {
			color: var(--c-point-#{$i}) $imp;
		}
	}
	&-white {
		color: var(--c-white) $imp;
	}
	&-black {
		color: var(--c-black) $imp;
	}
	&-primary-blue {
		color: var(--primary-blue) $imp;
	}
	&-secondary-blue {
		color: var(--secondary-blue) $imp;
	}
	&-tertiary-blue {
		color: var(--tertiary-blue) $imp;
	}
	&-danger {
		color: var(--c-danger) $imp;
	}
}
// filter color
.fill {
	&-gray-1 {
		filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(1192%) hue-rotate(335deg) brightness(94%) contrast(95%);
	}
	&-gray-2 {
		filter: brightness(0) saturate(100%) invert(49%) sepia(0%) saturate(343%) hue-rotate(316deg) brightness(96%) contrast(92%);
	}
	&-gray-3 {
		filter: brightness(0) saturate(100%) invert(52%) sepia(6%) saturate(358%) hue-rotate(181deg) brightness(96%) contrast(93%);
	}
	&-gray-4 {
		filter: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(487%) hue-rotate(75deg) brightness(87%) contrast(88%);
	}
	&-gray-5 {
		filter: brightness(0) saturate(100%) invert(80%) sepia(1%) saturate(1381%) hue-rotate(178deg) brightness(95%) contrast(94%);
	}
	&-gray-6 {
		filter: brightness(0) saturate(100%) invert(80%) sepia(0%) saturate(96%) hue-rotate(166deg) brightness(96%) contrast(91%);
	}
	&-gray-7 {
		filter: brightness(0) saturate(100%) invert(100%) sepia(37%) saturate(3458%) hue-rotate(179deg) brightness(107%) contrast(92%);
	}
	&-gray-8 {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(33deg) brightness(98%) contrast(93%);
	}
	&-black {
		filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(7486%) hue-rotate(350deg) brightness(94%) contrast(106%);
	}
	&-white {
		filter: brightness(0) saturate(100%) invert(90%) sepia(99%) saturate(0%) hue-rotate(66deg) brightness(102%) contrast(103%);
	}
	&-primary-blue {
		filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(2415%) hue-rotate(226deg) brightness(84%) contrast(104%);
	}
	&-secondary-blue {
		filter: brightness(0) saturate(100%) invert(57%) sepia(80%) saturate(417%) hue-rotate(184deg) brightness(101%) contrast(97%);
	}
	&-danger {
		filter: brightness(0) saturate(100%) invert(28%) sepia(95%) saturate(999%) hue-rotate(330deg) brightness(93%) contrast(101%);
	}
}
// * font size
.fs {
	&-xxsmall {
		font-size: var(--fs-xxsmall);
	}
	&-xsmall {
		font-size: var(--fs-xsmall);
	}
	&-small {
		font-size: var(--fs-small);
	}
	&-base {
		font-size: var(--fs-base);
	}
	&-medium {
		font-size: var(--fs-medium);
	}
	&-large {
		font-size: var(--fs-large);
	}
}
// * light-height
.lh {
	&-140 {
		line-height: 140%;
	}
	&-150 {
		line-height: 150%;
	}
	&-160 {
		line-height: 160%;
	}
}
// * flex 
.flex {
	display: flex;
	&-inline {
		display: inline-flex;
	}
	&-align {
		&-start {
			align-items: flex-start;
		}
		&-center {
			align-items: center;
		}
		&-end {
			align-items: flex-end;
		}
	}
	&-justify {
		&-start {
			justify-content: center;
		}
		&-center {
			justify-content: center;
		}
		&-end {
			justify-content: flex-end;
		}
		&-between {
			justify-content: space-between;
		}
		&-around {
			justify-content: space-around;
		}
	}
	&-direction {
		&-row {
			flex-direction: row;
		}
		&-column {
			flex-direction: column;
		}
	}
	@for $i from 1 through 10 {
		&-gap-#{$i} {
			gap: #{$i}px;
		}
	}
}
// * align
.align {
	&-l {
		text-align: left $imp;
	}
	&-r {
		text-align: right $imp;
	}
	&-c {
		text-align: center $imp;
	}
	&-m {
		vertical-align: middle $imp;
	}
	&-b {
		vertical-align: bottom $imp;
	}
	&-t {
		vertical-align: top $imp;
	}
}
// * margin
.mg {
	&-t-auto {
		margin-top: auto;
	}
	&-l-auto {
		margin-left: auto;
	}
	&-r-auto {
		margin-right: auto;
	}
	&-b-auto {
		margin-bottom: auto;
	}
}
// * alert animation
@keyframes alert-motion {
	from {
		transform: scale(0.9);
		opacity: 0.2;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
// * skeleton UI animation
@keyframes skeleton-loading {
	to {
		background-position-x: -200%;
	}
}
// * spinner icon
@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes alert-icon {
	from {
		scale: 0.9;
	}
	to {
		scale: 1;
	}
}
@keyframes alert-outline {
	from {
		outline-width: 0;
	}
	to {
		outline-width: 4px;
	}
}
@keyframes modal-motion {
	from {
		transform: scale(0.95);
		opacity: 0.2;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
